<%- include('partials/header', {title: 'GiveAway'}) %> 

<% if (nav === 'index-loggedin-nav') { %>
 <%- include('partials/index-loggedin-nav') %>
<% } else { %>
 <%- include('partials/index-nav') %>
<% } %>

<div
  class="
    container-fluid
    intro-container
    pt-3
    d-flex
    flex-column
    justify-content-center
  "
>
  <h1>Get rid of your unused items</h1>
  <p>Give away your stuffs to those who needs it.</p>
  <a href="<%= redirectLink %>"
    ><button class="btn btn-primary  hero-btn"><%= redirectText %></button></a
  >
</div>

<div class="container mt-4 explore-give-away">
  <div class="row">
    <div class="col-12">
        <h5>Explore GiveAway</h5>
    </div>
  </div>
  
</div>
<!-- category div -->
<div class="container-fluid container-1 mt-3 mb-3">
  <div class="row">
    <div class="col col-sm-6 col-md-4 col-lg-3">
      <div class="card mt-2">
        <img src="images/electronics.png" class="card-img-top" alt="electronics image" />
        <div class="card-body">
          <p class="card-text">
            <a href="/listing/electronics">Electronics</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-4 col-lg-3">
      <div class="card mt-2">
        <img src="images/furnitures.png" class="card-img-top" alt="furniture image" />
        <div class="card-body">
          <p class="card-text"><a href="/listing/furnitures">Furnitures</a></p>
        </div>
      </div>
    </div>
    <div class="col col-sm-6 col-md-4 col-lg-3">
      <!-- style="width: 18rem" -->
      <div class="card mt-2">
        <img src="images/appliances.png" class="card-img-top" alt="appliance image" />
        <div class="card-body">
          <p class="card-text"><a href="/listing/appliances">Appliances</a></p>
        </div>
      </div>
    </div>

    <div class="col col-sm-6 col-md-4 col-lg-3">
      <!-- style="width: 18rem" -->
      <div class="card mt-2">
        <img src="images/toys.png" class="card-img-top toy-image" alt="toy image" />
        <div class="card-body">
          <p class="card-text"><a href="/listing/toys">Toys</a></p>
        </div>
      </div>
    </div>

    <!-- floating add button -->
    <a href="/listing" class="float">
      <!-- <button class="my-float">+</button> -->
      <i class="fa fa-plus my-float"> <span class="cta-btn">List item</span></i>
    </a>
  </div>
</div>

<!-- infinite horizontal scroll -->

<%- include('partials/footer') %>
